body {
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.5em;
  background: #4394B6;
  color: #FFF;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
}
a,
a:link,
a:hover,
a:active,
a:visited {
  color: #FFF;
}

h1 {
  margin-bottom: 1.2em;
}

div[itemprop="event"] {
  width: 50%;

}
h2[itemprop="name"] {
  padding: 1em;
  margin: 0;
  background: rgba(0, 0, 0, .4);
}
div.guests {
  padding: 1em;
  background: rgba(0, 0, 0, .3);
}
.meta {
  padding: 1em;
  background: rgba(0, 0, 0, .2);
}
span[itemprop="startDate"] {
  display: inline-block;
  width: 50%;
  font-size: 2.2em;
  line-height: 1.6em;
}
span[itemprop="startDate"] * {
  display: none;
}
span[itemprop="startDate"] .m,
span[itemprop="startDate"] .d,
span[itemprop="startDate"] .t {
  display: inline-block;
}
div[itemprop="location"] {
  display: inline-block;
  width: 50%;
  float: right;
  text-align: right;
}
div[itemprop="location"] span[itemprop="name"] {
  font-size: 1.2em;
  font-weight: bold;
}
div[itemprop="location"] div[itemprop="address"] {
  font-size: .9em;
}
div[itemprop="description"] {
  position: fixed;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  padding: 1em 1em 4em 1em;
  overflow: auto;
}
